@mixin displayFlexBasic($display, $flexDirection, $justifyContent, $alignItems) {
    display: #{$display};
    flex-direction: #{$flexDirection};
    justify-content: #{$justifyContent};
    align-items: #{$alignItems};
}

@mixin backgroundBasic($bg_repeat, $bg_size, $bg_position) {
    background-repeat: #{$bg_repeat};
    background-size: #{$bg_size};
    background-position: #{$bg_position};
}