.w_50 {
    width: 50%;
}

.w_100 {
    width: 100%;
}

.my_10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.text_capitalize {
    text-transform: capitalize;
}

.text_center {
    text-align: center;
}