// WIDTH
.w_5 {
    width: 5%;
}

.w_10 {
    width: 10%;
}

.w_17 {
    width: 17%;
}

.w_20 {
    width: 20%;
}

.w_22 {
    width: 22%;
}

.w_25 {
    width: 25%;
}

.w_33 {
    width: 33%;
}

.w_35 {
    width: 35%;
}

.w_40 {
    width: 40%;
}

.w_48 {
    width: 48%;
}

.w_50 {
    width: 50%;
}

.w_65 {
    width: 65%;
}

.w_78 {
    width: 78%;
}

.w_83 {
    width: 83%;
}

.w_90 {
    width: 90%;
}

.w_95 {
    width: 95%;
}

.w_100 {
    width: 100%;
}
// HEIGHT
.h_100 {
    height: 100%;
}

.h_70vh {
    height: 70vh;
}

.h_60px {
    height: 60px;
}

.h_200px {
    height: 200px;
}
// MARGIN
.mt_60 {
    margin-top: 60px;
}

.mb_20 {
    margin-bottom: 20px;
}

.my_10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.my_20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.my_60 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.mx_20 {
    margin-right: 20px;
    margin-left: 20px;
}

.m_20 {
    margin: 20px;
}

.m_60 {
    margin: 60px;
}
// PADDING
.p_10 {
    padding: 10px;
}

.p_20 {
    padding: 20px;
}

.p_60 {
    padding: 60px;
}

.py_10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.py_20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.px_20 {
    padding-right: 20px;
    padding-left: 20px;
}
// TEXT
.text_capitalize {
    text-transform: capitalize;
}

.text_uppercase {
    text-transform: uppercase;
}
// text-align
.text_center {
    text-align: center;
}

.text_left {
    text-align: left;
}

.text_right {
    text-align: right;
}

.text_start {
    text-align: start;
}
// color
.text_ff4612 {
    color: #ff4612;
}

.text_a6a6a6 {
    color: #a6a6a6;
}

.text_white {
    color: white;
}
// FONT
.fw_bold {
    font-weight: bold;
}

.fs_0_6em {
    font-size: 0.6em;
}

.fs_1_2em {
    font-size: 1.2em;
}

.fs_3em {
    font-size: 3em;
}
// BACKGROUND
.bg_ff4612 {
    background-color: #ff4612;
}

.bg_f9f9f9 {
    background-color: #f9f9f9;
}

.bg_orange {
    background-color: orange;
}

.bg_white {
    background-color: white;
}

.bg_gray {
    background-color: gray;
}

.bg_black {
    background-color: black;
}
// DISPLAY
.d_inline_block {
    display: inline-block;
}

.d_block {
    display: block;
}

.d_flex {
    display: flex;
}
// HR
.little_hr {
    border: 2px solid #ff4612;
    border-radius: 10px;
}
// OVERFLOW
.overflow_auto {
    overflow: auto;
}
// BUTTONS
.btn_basic {
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.btn_white {
    background-color: white;
    border: 1px solid black;
}

.btn_white:hover {
    background-color: black;
    color: white;
}

.btn_orange {
    background-color: #ff4612;
    border: 1px solid #ff4612;
    color: white;
}

.btn_orange:hover {
    border: 1px solid black;
    color: black;
}

